/* Font */
@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

* { font-family: 'Freesentation-9Black', serif; }


/* Alert */
.customAlert {
    position: fixed;
    bottom: 15px;
    left: 5%;
    width: 90%;

    display: none;
    z-index: 1060;  /* Modal default 값 1050 이상으로 세팅 */
}